In [1]:
import csv
import pandas as pd
import numpy as np

## Read the raw data from csv

In [6]:
#bushfire data 2019 from Nasa
bushfire_2019_raw = pd.read_csv("Resources/modis_2019_Australia.csv")
bushfire_2019_raw.head()

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
0,-13.9873,127.3882,324.2,2.6,1.5,2019-01-01,122,Terra,MODIS,39,6.03,294.8,31.0,D,0
1,-13.9916,127.4121,327.4,2.6,1.5,2019-01-01,122,Terra,MODIS,61,6.03,295.5,45.0,D,0
2,-14.0055,127.4097,328.8,2.6,1.5,2019-01-01,122,Terra,MODIS,27,6.03,295.8,44.1,D,0
3,-14.1017,127.4337,334.9,2.6,1.5,2019-01-01,122,Terra,MODIS,86,6.03,292.9,83.1,D,0
4,-14.0012,127.3857,349.5,2.6,1.5,2019-01-01,122,Terra,MODIS,83,6.03,296.3,182.4,D,0

In [7]:
#bushfire data 2020 from Nasa
bushfire_2020_raw = pd.read_csv("Resources/modis_2020_Australia.csv")
bushfire_2020_raw.head()

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
0,-13.2051,143.1472,337.2,1.0,1.0,2020-01-01,50,Terra,MODIS,87,6.03,298.0,27.9,D,0
1,-14.4737,143.5811,351.4,1.0,1.0,2020-01-01,51,Terra,MODIS,95,6.03,300.4,55.8,D,0
2,-14.4828,143.5797,321.6,1.0,1.0,2020-01-01,51,Terra,MODIS,58,6.03,299.8,8.0,D,0
3,-14.7204,143.7693,343.0,1.0,1.0,2020-01-01,51,Terra,MODIS,89,6.03,300.4,35.5,D,0
4,-16.0143,145.1106,322.1,1.2,1.1,2020-01-01,51,Terra,MODIS,56,6.03,302.6,11.5,D,0

In [8]:
#Weather data May/2019-June/2020 from BOM
aus_weather_raw = pd.read_csv("Resources/Australia_weather.csv")
aus_weather_raw.head()

,State,Station,Year,Month,Date,Day,Min °C,Max °C,Rain(mm),Evap (mm),...,Dir - 9:00 AM - km/h,Spd - 9:00AM - km/h,MSLP- hPa - 9:00AM,Temp °C- 3:00PM,RH -% 3:00PM,Cld 8th- 3:00 PM,Dir - 3:00 PM - km/h,Spd - 3:00PM - km/h,MSLP- hPa - 3:00PM,Rain(Y/N)
0,ACT,Canberra Airport {station 070351},2019,May,1.0,We,6.5,20.8,0.0,NaN,...,NNW,6.0,1022.0,20.1,61.0,8.0,WNW,13.0,1021.3,N
1,ACT,Canberra Airport {station 070351},2019,May,2.0,Th,8.8,23.8,0.0,NaN,...,ESE,4.0,1026.6,22.4,57.0,8.0,NW,11.0,1022.5,N
2,ACT,Canberra Airport {station 070351},2019,May,3.0,Fr,15.2,20.4,20.8,NaN,...,NNW,24.0,1019.1,18.9,75.0,NaN,N,33.0,1015.8,Y
3,ACT,Canberra Airport {station 070351},2019,May,4.0,Sa,5.0,19.0,0.6,NaN,...,Calm,NaN,1018.1,16.6,47.0,2.0,WNW,22.0,1015.6,Y
4,ACT,Canberra Airport {station 070351},2019,May,5.0,Su,4.9,17.4,0.0,NaN,...,S,24.0,1021.0,14.9,58.0,8.0,S,33.0,1019.4,N

In [9]:
#Weather station data from BOM
weather_station_raw = pd.read_csv("Resources/weather_station.csv")
weather_station_raw.head()

,"This file contains the date of installation of the initial AWS at those Bureau of Meteorology sites where an AWS has been used. Equipment may have been added, modified or removed after that date.",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,This list was compiled in June 2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,STN_NUM,WMO_NUM,AVIATION_ID,NAME,REGION,STATUS,EQUIP_START,EQUIP_END,LATITUDE,LONGITUDE,STN_HT,BAR_HT,AERO_HT
3,1006,95214,YWYM,WYNDHAM AERO,WA,OPEN,22/9/00,NaN,-15.51,128.1503,3.8,4.3,4.3
4,1007,94102,YTTI,TROUGHTON ISLAND,NT,OPEN,30/6/91,NaN,-13.7542,126.1485,6,8,8.2

## Clean the Bushfire Dataset

In [13]:
#change column name 
bushfire_2019_new = bushfire_2019_raw.rename(columns = {'acq_date':'date'})

In [17]:
bushfire_2019 = bushfire_2019_new[['latitude','longitude','brightness','date']]
bushfire_2019.head()

   latitude  longitude  brightness        date
0  -13.9873   127.3882       324.2  2019-01-01
1  -13.9916   127.4121       327.4  2019-01-01
2  -14.0055   127.4097       328.8  2019-01-01
3  -14.1017   127.4337       334.9  2019-01-01
4  -14.0012   127.3857       349.5  2019-01-01